apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus
  namespace: prometheus
spec:
  interval: 1h
  chart:
    spec:
      chart: kube-prometheus-stack
      version: '>=60.0.0 <70.0.0'
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: prometheus
      interval: 1h
  install:
    timeout: 15m
    crds: Create
  upgrade:
    timeout: 15m
    crds: CreateReplace
